    # Environment (development, production, test)
    NODE_ENV=development

    # Backend API Port
    API_PORT=3000 

    # Database Configuration
    USE_POSTGRES=true

    # PostgreSQL Connection Details
    DB_HOST=YOUR DB HOST
    DB_PORT=YOUR DB PORT
    DB_USERNAME=YOUR DB USERNAME
    DB_PASSWORD=YOUR DB PASSWORD
    DB_DATABASE=YOUR DB 
    DB_SSL=false


    # JWT Secret
    JWT_SECRET=YOUR JWT SECRET
    # JWT_EXPIRES_IN=1d